# O filii et filiae (オー・フィーリイー・エトゥ・フィーリエー)

歌詞については[CPDL](https://www.cpdl.org/wiki/index.php/O_filii_et_filiae)を引用しました。以下は[Ivo Antognini作曲のO filii et filiae](https://www.youtube.com/watch?v=vhrySpAd6As&ab_channel=IvoAntognini)で使用されている歌詞です。

```
{{.WithoutMacrons}}
```

筆者の責任で長音記号を付記したバージョンは以下です。

```
{{.WithMacrons}}
```

拙訳は以下の通りです。

```
{{.Translation}}
```

## 編集履歴
2024-12-08 v1.0 完成。
