## {{index .Lines "1-1"}}
「オー・ナータ・ルクス・デー・ルーミネ」と読みます。

- `ō`は間投詞(おお)です。
- `nāta`は第1・第2変化形容詞`nātus,nāta,nātum`(生まれた)の女性・単数・呼格です。`lux`に掛かります。
- {{noun "lux" "vf"}}
- {{prep "dē"}}
- {{noun "lūmen" "an"}}

## {{index .Lines "1-2"}}
「イェーズー・レデンプトル・セークリー」と読みます。

- {{noun "Jēsū" "vm"}}
- {{noun "redemptor" "vm"}}
- {{noun "saeculum" "2n"}}`redemptor`に掛かります。

## {{index .Lines "1-3"}}
「ディンニャーレ・クレーメンス・スップリクム」と読みます。
