# O nata lux (オー・ナータ・ルクス)

歌詞については[CPDL](https://www.cpdl.org/wiki/index.php/O_nata_lux)を引用しました。以下が全歌詞です。

```
{{.WithoutMacrons}}
```

筆者の責任で長音記号を付記したバージョンは以下です。

```
{{.WithMacrons}}
```

拙訳は以下の通りです。

```
おお、光から生まれた光よ、
イエスよ、世の贖い主よ、
TODO
TODO

TODO
堕落した者たちのために TODO
私たちを、あなたの祝福された体の手足としてください。
```
