# O nata lux (オー・ナータ・ルクス)

歌詞については[CPDL](https://www.cpdl.org/wiki/index.php/O_nata_lux)を引用しました。以下が全歌詞です。

```
{{.WithoutMacrons}}
```

筆者の責任で長音記号を付記したバージョンは以下です。

```
{{.WithMacrons}}
```

拙訳は以下の通りです。

```
{{.Translation}}
```

## 編集履歴
2024-05-18 v1.0 完成。
