## {{index .Lines "2-1"}}
「ベネディー**カー**ムス・**パ**トゥレム・エトゥ・**フィー**リウム」と読みます。

- {{verb "benedīcō" "sub/pres" "1p"}}この接続法は意思(〜〜しよう)を意味します。
- {{noun "pater" "4m"}}
- `et`は接続詞(そして)です。
- {{noun "fīlius" "4m"}}

「私たちは父と子を、祝福しよう」と訳せます。
## {{index .Lines "2-2"}}
「クム・**サン**クトー・**スピー**リトゥー」と読みます。

- {{prep "cum"}}
- {{adj "sanctus" "am"}}
- {{noun "spīritus" "am"}}

この部分は「聖霊とともに」を意味します。
