# Benedicta sit sancta Trinitas (ベネディクタ・スィトゥ・サンクタ・トゥリーニタース)

歌詞については[CPDL](https://www.cpdl.org/wiki/index.php/Benedicta_sit)を引用しました。

```
{{.WithoutMacrons}}
```

筆者の責任で長音記号を付記したバージョンは以下です。

```
{{.WithMacrons}}
```

拙訳は以下の通りです。

```
{{.Translation}}
```

## 編集履歴
